@media screen and (min-width: 1280px) {
  .registerPage,
  .loginPage {
    display: flex;
    gap: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .recommendedPage {
    display: flex;
    gap: 16px;
    margin-top: 16px;
  }
}
