.containerTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
}

.containerDiaryButtons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.diaryIcon {
  width: 16px;
  height: 16px;
  stroke: #686868;
}

.diaryIconActive {
  stroke: #f9f9f9;
}

.diaryContent {
  position: relative;
  background-color: #262626;
  padding: 16px 16px 16px 41px;
  margin-top: 20px;
  border-radius: 12px;
  height: 211px;
  overflow: auto;
  scrollbar-width: none;
}

.containerProgressInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}

.containerProgressInfo:first-child > .progressItem > .progressDate {
  color: #f9f9f9;
}

.containerProgressInfo:last-child {
  margin-bottom: 0;
}

.diaryContent::before {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 23px;
  width: 2px;
  height: calc(100% - 20px);
  background-color: #1f1f1f;
}

.progressDate {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  color: #686868;
}

.progressDate::before {
  content: "";
  position: absolute;
  background-color: #141414;
  width: 16px;
  height: 16px;
  left: 16px;
  border: 4px solid #686868;
  border-radius: 2px;
}

.containerProgressInfo:first-child > .progressItem > .progressDate::before {
  border: 4px solid #f9f9f9;
}

.progressPersent {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-top: 17px;
}

.progressMinutes {
  color: #686868;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-top: 4px;
}

.pagesAmount {
  color: #686868;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: -0.02em;
}

.pagesProgress {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 16px;
}

.progressIcon {
  width: 43px;
  height: 18px;
}

.deleteIconProgress {
  stroke: #686868;
}

.pagesPerHour {
  color: #686868;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
  max-width: 43px;
  margin-top: 7px;
}

.statisticProgressContent {
  background-color: #262626;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
}

.statisticProgressItem {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid #1f1f1f;
  border-radius: 50%;
  width: 116px;
  height: 116px;
  margin-right: auto;
  margin-left: auto;
}

.statisticProgressPersent {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.02em;
}

.readingProgressContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 21px;
}

.marker {
  background-color: #30b94d;
  width: 14px;
  height: 14px;
  border-radius: 4px;
}

.progressPersentStat {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.progressPages {
  color: #686868;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-top: 4px;
}

@media screen and (min-width: 768px) {
  .diary {
    width: 50%;
  }

  .containerTitle {
    margin-top: 0;
  }

  .title {
    font-size: 20px;
  }

  .diaryIcon {
    width: 20px;
    height: 20px;
  }

  .progressItem {
    margin-left: 10px;
  }

  .progressDate {
    font-size: 16px;
  }

  .progressDate::before {
    width: 20px;
    height: 20px;
    border: 4px solid #686868;
  }

  .diaryContent::before {
    left: 25px;
  }

  .progressPersent {
    font-size: 20px;
  }

  .progressMinutes {
    font-size: 12px;
  }

  .pagesAmount {
    font-size: 14px;
  }

  .statisticProgressItem {
    width: 138px;
    height: 138px;
    border: 12px solid #1f1f1f;
  }

  .statisticProgressPersent {
    font-size: 20px;
  }

  .progressPersentStat {
    font-size: 20px;
  }

  .progressPages {
    font-size: 12px;
  }

  .diaryContent,
  .statisticProgressContent {
    height: 252px;
  }
}

@media screen and (min-width: 1200px) {
  .diary {
    width: 100%;
  }

  .diaryContent {
    height: 373px;
  }
}
