.containerRegisterForm {
  padding: 20px 20px 40px 20px;
  background-color: #1f1f1f;
  border-radius: 30px;
}

.mainLogo {
  display: flex;
  align-items: center;
  gap: 4px;
  color: inherit;
}

.mainLogoIcon {
  width: 42px;
  height: 17px;
}

.mainLogoText {
  display: none;
}

.mainTitle {
  margin-top: 40px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
}

.mainTitleSpan {
  color: rgba(227, 227, 227, 0.5);
}

.registerForm {
  margin-top: 20px;
}

.inputWrapper {
  margin-bottom: 8px;
}

.registerInput {
  width: 100%;
  padding: 14px;
  background-color: #262626;
  border: none;
  border-radius: 12px;
  color: inherit;
  outline: none;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 20px;
}

.registerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
  padding: 12px 28px;
  border-radius: 30px;
  color: #1f1f1f;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  transition: all 0.3s ease;
}

.registerButton:hover {
  background-color: transparent;
  color: inherit;
  border: 1px solid rgba(249, 249, 249, 0.2);
}

.torLoginLink {
  color: #686868;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
}

@media screen and (min-width: 768px) {
  .containerRegisterForm {
    padding: 40px 168px 214px 64px;
  }

  .mainLogoText {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    display: block;
  }

  .mainTitle {
    margin-top: 158px;
    font-size: 64px;
    line-height: 0.94;
    width: 444px;
  }

  .registerForm {
    margin-top: 40px;
  }

  .inputWrapper {
    margin-bottom: 14px;
  }

  .registerInput {
    width: 100%;
    padding: 16px 14px;
    font-size: 14px;
  }

  .registerInput:focus {
    outline: 1px solid rgba(249, 249, 249, 0.1);
  }

  .buttonWrapper {
    margin-top: 82px;
    gap: 20px;
  }

  .registerButton {
    padding: 16px 54px;
    font-size: 20px;
    line-height: 1;
  }

  .torLoginLink {
    font-size: 14px;
    line-height: 1.29;
  }
}

@media screen and (min-width: 1280px) {
  .containerRegisterForm {
    width: 50%;
    padding: 40px 64px;
    background-color: #1f1f1f;
    border-radius: 30px;
  }

  .mainTitle {
    margin-top: 108px;
    font-size: 64px;
  }
}
