.myReading {
  margin-top: 10px;
  background-color: #1f1f1f;
  padding: 40px 20px;
  border-radius: 30px;
}

.myReadingTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
}

.bookContainer {
  margin-top: 40px;
  width: 137px;
  margin-right: auto;
  margin-left: auto;
  object-fit: cover;
}

.bookImg {
  width: 100%;
  height: 208px;
  border-radius: 8px;
}

.bookTitle {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.bookAuthor {
  color: #686868;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  margin-top: 5px;
}

.startButton,
.stopButton {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.startIcon,
.stopIcon {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .myReading {
    margin-top: 16px;
    padding: 40px 40px 25px 40px;
  }

  .myReadingTitle {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  .bookContainer {
    margin-top: 32px;
    width: 317px;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
  }

  .bookImg {
    width: 169px;
    height: 256px;
    margin-right: auto;
    margin-left: auto;
  }

  .bookTitle {
    margin-top: 25px;
    font-size: 20px;
    line-height: 1;
  }

  .bookAuthor {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
  }

  .startButton {
    margin-top: 16px;
  }

  .startIcon,
  .stopIcon {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .myReading {
    margin-top: 0;
    padding: 40px;
    width: 847px;
  }

  .bookContainer {
    margin-top: 44px;
  }

  .bookImg {
    width: 224px;
    height: 340px;
  }
}
