.recommended {
  padding: 40px 20px;
  background-color: #1f1f1f;
  margin-top: 10px;
  border-radius: 30px;
}

.titlePaginationWrapper {
  display: flex;
  justify-content: space-between;
}

.recommendedTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
}

.paginationButtonsWrapper {
  display: flex;
  gap: 8px;
}

.paginationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 50%;
}

.paginationButton:disabled {
  cursor: default;
}

.paginationIcon {
  stroke: #f9f9f9;
  width: 16px;
  height: 16px;
}

.paginationIconDisabled {
  opacity: 0.2;
}

.recommendedList {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.recommendedItem {
  width: calc((100% - 20px) / 2);
  cursor: pointer;
}

.recommendedBookImg {
  width: 100%;
  height: 208px;
  object-fit: cover;
  border-radius: 8px;
}

.bookTitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-top: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookAuthor {
  color: #686868;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .recommended {
    padding: 32px;
    margin-top: 16px;
  }

  .recommendedTitle {
    font-size: 28px;
    line-height: 1.14;
  }

  .paginationButton {
    width: 42px;
    height: 42px;
  }

  .paginationIcon {
    width: 20px;
    height: 20px;
  }

  .recommendedList {
    margin-top: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: calc((100% - 4 * 137px) / 3);
    row-gap: 27px;
  }

  .recommendedItem {
    width: 137px;
    cursor: pointer;
  }
}

@media screen and (min-width: 1280px) {
  .recommended {
    padding: 40px;
    margin-top: 0;
  }

  .recommendedList {
    gap: calc((100% - 5 * 137px) / 4);
    row-gap: 27px;
  }
}
