.myLibrary {
  background-color: #1f1f1f;
  padding: 40px 20px;
  margin-top: 10px;
  border-radius: 30px;
}

.containerTitleDropdown {
  display: flex;
  justify-content: space-between;
}

.myLibraryTitle {
  color: #f9f9f9;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
}

.emptyMyLibrary {
  margin-top: 63px;
  margin-bottom: 60px;
}

.booksImgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262626;
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
}

.booksimg {
  width: 50px;
  height: 50px;
}

.emptyLibraryText {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  max-width: 197px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.libraryTextSpan {
  color: #686868;
}

.addedBooksList {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.containerBookInfo {
  display: flex;
  justify-content: space-between;
}

.subcontainerBookInfo {
  overflow: hidden;
}

.bookInfoTitle {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.addedBooksItem {
  width: calc((100% - 20px) / 2);
}

.containerBookInfo {
  margin-top: 8px;
  display: flex;
  gap: 14px;
}

.bookImg {
  width: 100%;
  height: 208px;
  border-radius: 8px;
  object-fit: cover;
}

.bookInfoTitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.bookInfoAuthor {
  color: #686868;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.deleteBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(232, 80, 80, 0.1);
  border: 1px solid rgba(232, 80, 80, 0.2);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  flex-shrink: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modalStartReading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 335px;
  padding: 40px 70px;
  background-color: #1f1f1f;
  border-radius: 12px;
  border: 1px solid rgba(104, 104, 104, 0.2);
}

.startBookimg {
  width: 140px;
  height: 213px;
  margin-right: auto;
  margin-left: auto;
}

.bookTitle {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-top: 16px;
}

.bookAuthor {
  color: #686868;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.02em;
}

.bookPages {
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.startReadingButton {
  color: #f9f9f9;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  margin: 20px auto 0 auto;
  border: 1px solid rgba(249, 249, 249, 0.2);
  padding: 12px 24px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.startReadingButton:hover {
  background-color: #f9f9f9;
  color: #1f1f1f;
  border: 1px solid #f9f9f9;
}

@media screen and (min-width: 768px) {
  .myLibrary {
    padding: 40px;
    margin-top: 16px;
  }

  .myLibraryTitle {
    color: #f9f9f9;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.14;
  }

  .emptyMyLibrary {
    margin-top: 86px;
    margin-bottom: 120px;
  }

  .booksImgWrapper {
    width: 130px;
    height: 130px;
  }

  .booksimg {
    width: 70px;
    height: 70px;
  }

  .emptyLibraryText {
    max-width: 274px;
    margin-top: 20px;
  }

  .addedBooksList {
    justify-content: flex-start;
    gap: 25px;
    flex-wrap: wrap;
  }

  .addedBooksItem {
    width: calc((100% - 3 * 25px) / 4);
  }

  .modalStartReading {
    width: 500px;
    max-width: none;
    padding: 50px 92px;
    background-color: #1f1f1f;
    border-radius: 12px;
    border: 1px solid rgba(104, 104, 104, 0.2);
  }

  .startBookimg {
    width: 153px;
    height: 233px;
  }

  .bookTitle {
    font-size: 20px;
  }

  .bookAuthor {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .myLibrary {
    margin-top: 0;
    width: 100%;
  }

  .emptyMyLibrary {
    margin-top: 147px;
  }

  .addedBooksItem {
    width: calc((100% - 4 * 25px) / 5);
  }
}
