.myLibrary {
  background-color: #1f1f1f;
  padding: 40px 20px;
  margin-top: 10px;
  border-radius: 30px;
}

.containerTitleDropdown {
  display: flex;
  justify-content: space-between;
}

.myLibraryTitle {
  color: #f9f9f9;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
}

.emptyMyLibrary {
  margin-top: 63px;
  margin-bottom: 60px;
}

.booksImgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262626;
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
}

.booksimg {
  width: 50px;
  height: 50px;
}

.emptyLibraryText {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  max-width: 197px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.libraryTextSpan {
  color: #686868;
}

@media screen and (min-width: 768px) {
  .myLibrary {
    padding: 40px;
    margin-top: 16px;
  }

  .myLibraryTitle {
    color: #f9f9f9;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.14;
  }

  .emptyMyLibrary {
    margin-top: 86px;
    margin-bottom: 120px;
  }

  .booksImgWrapper {
    width: 130px;
    height: 130px;
  }

  .booksimg {
    width: 70px;
    height: 70px;
  }

  .emptyLibraryText {
    max-width: 274px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .myLibrary {
    margin-top: 0;
    width: 100%;
  }

  .emptyMyLibrary {
    margin-top: 147px;
    margin-bottom: 192px;
  }

}
